.projects-container {
    display: grid;
    padding: 2%;
    padding-top: 2vh;
    padding-left: 2vw;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-between;
    column-gap: 0px;
    text-align: center;
}

.projects-page {
    width: 100%;
    padding-top: 2vh;
}

.projects-page h1 {
    color: #5AA3FB;
    padding-left: 5%;
}