.projects-container {
    /* width: 100%; */
    display: grid;
    padding: 2%;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-bottom: 5vh;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: space-between;
    column-gap: 0px;
    text-align: center;
}