.pythonDescriptions {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.pythonDescriptions p {
    color: #FFFFFF
}

.pythonDescriptions li {
    color: #FFFFFF
}

.pythonDescriptions ul {
    list-style-type:circle;
}