.javaDescriptions {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.javaDescriptions p {
    color: white;
}

.javaDescriptions li {
    color: white;
}

.javaDescriptions img {
    text-align: center;
    height: 300px;
}

.javaDescriptionsImage {
    text-align: center
}

.javaDescriptionsRow {
    display: flex;
}

.javaDescriptionsColumn {
    flex: 50%;
    padding: 5px;
    text-align: center;
}