.javaDescriptions {
    margin: auto;
    padding-left: 5%;
}

.javaDescriptions p {
    color: #FFFFFF
}

.javaDescriptions li {
    color: #FFFFFF
}

.javaDescriptions ul {
    list-style-type:circle;
}